2 actividad/xsd.xml

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">

    <element name="biblioteca">
        <complexType>
            <sequence>
                <element name="libro" minOccurs="0">
                    <complexType>
                        <sequence>
                            <element name="titulo" type="string"/>
                            <element name="indice" type="string"/>
                            <element name="sinopsis" type="string"/>
                            <element name="capitulo" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="titulo" type="string"/>
                                        <element name="contenido">
                                            <complexType>
                                                <attribute name="url" type="string"></attribute>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="numero_de_paginas" type="string" use="required"></attribute>
                                </complexType>
                            </element>                        
                        </sequence>
                        <attribute name="ID" use="required">
                            <simpleType>
                                <restriction base="string">
                                    <pattern value="[L](\d){4}"></pattern>
                                </restriction>
                            </simpleType>
                        </attribute>
                        <attribute name="numero_de_paginas" type="string" use="required"></attribute>
                        <attribute name="tipo_clase" type="string" use="required"></attribute>
                        
                    </complexType>
                </element>
                <element name="revista" minOccurs="0">
                    <complexType>
                        <sequence>
                            <element name="titulo" type="string"/>
                            <element name="num_revista" type="integer"/>
                            <element name="indice" type="string"/>
                            <element name="seccion_revista" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="contenido">
                                            <complexType>
                                                <attribute name="url" type="string"></attribute>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="numero_de_paginas" type="string" use="required"></attribute>
                                </complexType>
                            </element>
                        </sequence>
                        <attribute name="ID" use="required">
                            <simpleType>
                                <restriction base="string">
                                    <pattern value="[R](\d){4}"></pattern>
                                </restriction>
                            </simpleType>
                        </attribute>
                        <attribute name="tipo_clase" use="required">
                            <simpleType>
                                <restriction base="string">
                                    <enumeration value="informatica"></enumeration>
                                    <enumeration value="corazon"></enumeration>
                                    <enumeration value="coches"></enumeration>
                                    <enumeration value="investigacion"></enumeration>
                                    <enumeration value="otras"></enumeration>
                                </restriction>
                            </simpleType>
                        </attribute>
                        <attribute name="numero_paginas" type="string" use="required"></attribute>
                    </complexType>
                </element>
                <element name="periodico" minOccurs="0">
                    <complexType>
                        <sequence>
                            <element name="indice" type="string"/>
                            <element name="seccion" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="articulo" maxOccurs="unbounded">
                                            <complexType>
                                                <sequence>
                                                    <element name="contenido">
                                                        <complexType>
                                                            <attribute name="url" type="string" use="required"></attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                                <attribute name="autor" type="string" use="required"></attribute>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="economica"></enumeration>
                                                <enumeration value="deportes"></enumeration>
                                                <enumeration value="nacional"></enumeration>
                                                <enumeration value="internacional"></enumeration>                                                
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                </complexType>
                            </element>
                        </sequence>
                        <attribute name="ID" use="required">
                           
                            <simpleType>
                                <restriction base="string">
                                    <pattern value="[P](\d){4}"></pattern>
                                </restriction>
                            </simpleType>
                        </attribute>
                        <attribute name="tipo_clase" type="string" use="required"></attribute>
                        <attribute name="fecha_publicacion" type="date" use="required"></attribute>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>